.footer {
    margin-left: auto;
    margin-right: auto;
    height: auto;
    background: $background-footer;
    
}

.footer__list {
    padding: 0;
    padding-top: 60px;
    padding-bottom: 60px;
    list-style: none;

    @media screen and (max-width: 1199px) {
        text-align: center;
    }
    @media screen and (min-width: 1200px) {
        display: inline-flex;
    }
   
}

.footer__list :not(:last-child)  {
    @media screen and (min-width: 768px) {
        display: inline-flex;
        justify-content: space-between;     
    }
}


.footer__contacts {
    max-width: 231px;
    @media screen and (max-width: 1599px) {
        text-align: center;
    }
}