.subscrib {
    display: inline-block;
    margin-top: 87px;
    margin-left: 93px;
    width: 570px;
    height: 86px;
}

.subscrib__label {
    display: block;
    text-align: start;
    font-weight: 700;
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 20px;
    line-height: calc(16/14);
    text-transform: uppercase;
    color: $forDark-text-color;
}

.subscrib__field {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
}

.subscrib__input {
    display: inline-flex;
    cursor: pointer;
    font-family: inherit;
    padding: 15px 16px;
    width: 358px;
    height: 50px;
    font-size: 16px;
    line-height: calc(20/16);
    align-items: center;
    letter-spacing: $letter-spacing;
    color: $forDark-text-color;
    background: #2F303A;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;

    &:focus {
            outline: 1px solid #2F303A;
        }
}



.subscrib__button {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-sizing: border-box;
    margin-left: 12px;
    width: 200px;
    height: 50px;
    color: $forDark-text-color;
    background-color: $accent-color;
    border-radius: 4px;
    border-color: $accent-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

        &::after {
            display: inline-block;
            text-align: center;
            content: ' ';
            margin-left: 10px;
            width: 24px;
            height: 24px;
            background-image: url('../images/send.svg');
        }
    
        &:focus {
            background-color: #188CE8;
        }

}

