.footer {
    height: auto;
    background: $background-footer;
}

.footer__list {
    padding: 0;
    padding-top: 60px;
    padding-bottom: 60px;
    list-style: none;

    @media screen and (min-width: 480px) {
        text-align: center;
    }
}
.footer__item :not(:first-child){
    @media screen and (max-width: 767px) {
        
        
    }
}

.footer__contacts {
    width: 231px;
    
    @media screen and (max-width: 1599px) {
        text-align: center;
    }
}