.logo {
    margin-left: 0;
    margin-right: 93px;
    font-family: $fontFamily-logo;
    font-weight: 700;
    font-size: 26px;
    line-height: 1, 2;
    text-decoration: none;
    color: $accent-color;
}

.header__half-logo {
    color: #000000;
}