.social-list {
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    list-style: none;
    margin-top: 16px;
    margin-bottom: 30px;
    padding: 0;
    width: 206px;
}
.social-list {
    &__item {
        display: flex;
        margin: 0;
        width: 44px;
        height: 44px;
        border-radius: 50%;
    }

    &__link {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 44px;
        height: 44px;
        border-radius: 50%;
        background-color: $forDark-text-color;

        transition-property: background-color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

        &__icon {
        width: 20px;
        height: 20px;
        padding-bottom: -3px;
        fill: $icon-color;

        transition-property: fill;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

        &__link:hover,
    .social-list__link:focus {
        background-color: $accent-color;
    }

        &__link:hover &__icon,
        &__link:focus &__icon {
        fill: $forDark-text-color;
    }
}