$font-family: "Roboto";
$fontFamily-logo: 'Raleway';
$primary-text-color: #212121;
$forDark-text-color: #fff;
$second-color: #757575;
$title-text-color: #000000;
$accent-color: #2196F3;
$background-color: #F5F5F5;
$background-footer: #2F303A;
$background-hero: #C4C4C4;
$icon-color: #AFB1B8;
$buttonActiv-color: #188CE8;
$letter-spacing: 0.03em;